@model Proyecto2021.Models.producto_compra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles Producto Compra</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_compra)
        </dd>

        <dt>
            Id Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_producto)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
