@model IEnumerable<Proyecto2021.Models.producto_compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producto Compra</h2>

<p>
    @Html.ActionLink("Nuevo Producto Compra", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id Compra
        </th>
        <th>
            Id Producto
        </th>
        <th>
           Cantidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_compra)
        </td>
        <td>
             @Proyecto2021.Controllers.ProductoCompraController.NombreProducto(item.id_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Ver Todo", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
