@model Proyecto2021.Models.producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Producto:@Html.DisplayFor(model => model.nombre)</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
           Precio Unitario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percio_unitario)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
           Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
           Proveedor
        </dt>

        <dd>
            @Proyecto2021.Controllers.ProductoController.NombreProveedor(Model.id_proveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
